<?xml version="1.0" encoding="UTF-8"?>
<config>
    <groups>
        <group name="taskdef" components="taskdef">
            <colour value="#666600"/>
        </group>
        <group name="task-file-operations" components="copy move mkdir loadresource loadfile">
            <colour value="#008000"/>
        </group>
        <group name="task-fileset" components="fileset include exclude filelist path filterchain tokenfilter filetokenizer">
            <colour value="#228B22"/>
        </group>
        <group name="task-string" components="replaceregexp propertyregex concat replacestring">
            <colour value="#FFD700"/>
        </group>
        <group name="task-exec" components="exec arg">
            <colour value="#000080"/>
        </group>
        <group name="local" components="local propertyresource">
            <colour value="#2F4F4F"/>
        </group>
        <group name="control" components="if isset equals then else condition not">
            <colour value="#B22222"/>
        </group>
        <group name="admin" components="record">
            <colour value="#D8BFD8"/>
        </group>
        <group name="import" components="import">
            <colour value="#678900"/>
        </group>
        <group name="xmlproperty" components="xmlproperty">
            <colour value="#3333ff"/>
        </group>
        <group name="property" components="property">
            <colour value="#999999"/>
        </group>
    </groups>
</config>
